h1 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 221, 255);
  font-size: 100px;
  font-weight: bolder;
  margin: 0px 35px;
}
body {
  background-color: black;
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
a:link, h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 221, 255);
}
h2 {
  color: orange;
}
a:visited {
  color: rgb(0, 221, 255);
}
a:hover {
  color: orange;
}
li {
  color: orange;
  list-style-type: square;
  line-height: 30px;
}
@media screen and (max-width: 1536px) {
  .coll {
    width: 50%;
    float: left;
    padding: 0 25px;
    margin-bottom: 10px;
  }
}
